html
  head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 文件上传
  body
    form#upload-form(action='/upload' method='POST' target='frame1' enctype='multipart/form-data')
      label(for='file')
        | 上传文件：
      input#file(type='file' name='file' multiple='')
      br
      p
        | 选择打印机：
        select(name='' id='')
          option(value='') 请选择打印机
          option(value='') 打印机1
          option(value='') 打印机2
          option(value='') 打印机3
      p
        | 纸张类型：
        select(name='paperType')
          option(value='A4') A4
          option(value='A3') A3
          option(value='A2') A2
          option(value='A5') A5
          option(value='A6') A6
          option(value='letter') letter
          option(value='legal') legal
      p
        | 纸张方向：
        select(name='paperOrientation')
          option(value='portrait') portrait
          option(value='landscape') landscape
      p
        | 页码：
        input(type='text' name='page' value='全部')
      p
      p
        | 份数：
        input(type='text' name='copies' value='1')
      p
      input#sub(type='submit' value='提交')
      p#msg
    iframe#ifr(name='frame1' frameborder='0' height='40' )
